@import 'components/player';

@button-color-buy: #ff4a4a;
@button-color-credit: #38a80e;
@button-color-installments: #3c5acb;

.mangotools__tinkoff-container {
   width: 100%;
   padding-top: 10px;
   display: flex;

   justify-content: space-between;

   a {
      color: #FFF !important;
      border-radius: 5px;
      width: ~"calc(50% - 5px)";
      line-height: 45px;

      padding: 0;
   }

   .mangotools__tinkoff-credit {
      background-color: @button-color-credit;

      &:hover {
         background-color: darken(@button-color-credit, 5%) !important;
      }
   }

   .mangotools__tinkoff-installments {
      background-color: @button-color-installments;

      &:hover {
         background-color: darken(@button-color-installments, 5%) !important;
      }
   }

   @media (max-width: 1199px) {
      display: block;

      a {
         width: 100%;

         &:first-child {
            margin-bottom: 10px;
         }
      }
   }
}

.t750__btn-wrapper a:hover {
   background-color: darken(@button-color-buy, 5%) !important;
}